html,body,div,p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 600px;
}
.col {
	float: left;
	
}
.container {
	padding: 0 190px 0 210px;
	margin: 100px auto;
}
#left {
	width: 20%;
	height: 300px;
	background: #368;
	margin-left: -100%;
}
#main {
	width: 100%;
	height: 300px;
	background: #FFEC8B;
}
#main .main-wrap {
	margin: 0 30% 0 20%;
}
#right {
	width: 30%;
	height: 300px;
	background: #FF00FF;
	margin-left: -30%;
}