* {
	margin: 0;
	padding: 0;
}
/*按钮的样式*/
.btn {
	width: 100px;
	height: 30px;
	background: #5796d6;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #000;
	position: absolute;
	left: 50%;
	top: 600px;
	outline: none;
}
img {
	width: 20px;
	height: 20px;
	position: absolute;
}