html,body,div,p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 600px;
}
.col {
	float: left;
	
}
.container {
	padding: 0 190px 0 210px;
	margin: 100px auto;
}
#left {
	position: relative;
	width: 200px;
	height: 300px;
	background: #368;
	margin-left: -100%;
	left: -200px;
}
#main {
	width: 100%;
	height: 300px;
	background: #FFEC8B;
}
#right {
	position: relative;
	width: 180px;
	height: 300px;
	background: #FF00FF;
	margin-left: -180px;
	right: -180px;	
}